:root {
    --black: #000000;
    --white: #ffffff;
    --grey900: #323232;
    --grey700: #565656;
    --grey500: #7b7b7b;
    --grey300: #cccccc;
    --grey100: #f4f4f4;
    --red: #e10000;
    --golden: #dba858;
    --darkblue: #031b28;
    --border: 1rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --headingfonts: "Montserrat", sans-serif;
    --bodyfonts: "Lato", sans-serif;
  }
.leave-a-reply {
    margin-top: 12px;
}
.comment {
    /* background-color: var(--grey100); */
    width: 80vw;
    padding: 12px;
    border-radius: 5px;
    margin-top: 6px;
}

.comment h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: var(--black);
    margin: 6px 0 2px 0;
    text-transform: uppercase;
}
.comment h4{
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-style: italic;
    letter-spacing: 0.1rem;
    margin: 6px 0 12px 0;
    color: var(--grey900);
}

.comment p{
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 166%;
    align-items: center;
    letter-spacing: 0.1em;
    color: var(--black);
    margin-bottom: 0.5vh;
    resize: none;
}
.comment h3 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 166%;
    align-items: center;
    letter-spacing: 0.1em;
    color: var(--grey900);
    margin: 12px 0 0.5vh 0;
    resize: none;
    margin: 12px 0 12px 0;
    text-decoration: underline;
}
.comment h3:hover {
    cursor: pointer;
    color: var(--golden);
    transition: 0.3s;
}
.comment button {
    font-family: "Red Hat Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 166%;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--grey900);
    margin: 6px 0 2px 0;
    text-transform: uppercase;
    background-color: var(--darkblue);
    color: var(--grey100);
    padding: 7px;
    border-radius: 4px;
    letter-spacing: 0.2rem;
}
.comment button:hover {
    cursor: pointer;
    background-color: var(--golden);
    transition: 0.3s;
}
.reply {
    margin-left: 5vw;
    border: solid 1px var(--grey300);
    max-width: 75vw;
}

/* Reply area */
.reply-comment {
    width: 75vw;
}
.reply-form-comment {
    list-style: none;
  }
  
.reply-form-comment li {
    margin: 2rem 2rem 2rem 0;
    max-width: 40vw;
  }
.reply-form-comment li label {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 166%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--grey900);
  }
.reply-form-comment li input {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 166%;
    align-items: center;
    letter-spacing: 0.1em;
    color: #7b7b7b;
    margin-bottom: 0.5vh;
    width: 70vw;
    border: solid 1px var(--grey300);
    padding: 6px;
  }
  
.reply-form-comment li textarea {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 166%;
    align-items: center;
    letter-spacing: 0.1em;
    color: #7b7b7b;
    margin-bottom: 0.5vh;
    width: 70vw;
    resize: none;
    border: solid 1px var(--grey300);
    padding: 6px;
  }